@include aoa-bg-series($bg__init,$classes_init);

.comingsoon-s1{
    background-blend-mode: multiply;
}
.contact{
    &-s3{
        background-blend-mode: multiply !important;
        background-color: #999 !important;
    }
}
.error-s1{
    background-blend-mode: multiply;
}
.privacy-s1{
    background-blend-mode: multiply;
}
.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}
nav{
    z-index: 10;
}

@media all and (max-width: 767px){
    .about{
        &-s1,&-s2{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
        &-s2{
            background-position: right!important;
        }
    }
    .contact{
        &-s1,&-s2{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
        &-s1{
            background-position: right!important;
        }
    }
    .index{
        &-s1{
            background-blend-mode: multiply !important;
            background-color: #999 !important;
            background-position: left!important;
        }
    }
    .navbar{
        &-toggler{
            background-color: #555;
            border-color: #333;
        }
        &-nav{
            background-color: #555;
            border: 1px solid #333;
            opacity: 0.9;
            padding: 10px
        }
    }
    .promos{
        &-s1,&-s2,&-s3{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
        &-s2{
            background-position: right!important;
        }
    }
}